body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.navbar {
  background-color: black;
  padding: 10px 0;
}

.navbar a {
  color: white;
  text-transform: uppercase;
}

.grid-item {
  display: block;
  max-width: 217px;
  margin: 0 10px 10px 0;
}

.grid-item.width2 { max-width: 444px; }
